@page
@{
}
<script src='https://cdn.tiny.cloud/1/yitw512tbta3c8kx0cc5i3tdyutlljgx64leh2rpo4z0lp2v/tinymce/5/tinymce.min.js' referrerpolicy="origin"></script>

<center><h1>Add Recipe</h1></center>
<div class="col-12">
    <form method="post">
        <div class="form-group">
            <label for="Title">Recipe Title</label>
            <input class="form-control" name="Title" />
            <label for="ImageUrl">Image Url</label>
            <input id="imageUrlInputJs" class="form-control" name="ImageUrl" />
            <div class="row p-3">
                <img style="width:500px" id="imgUrlPreview" alt="Image preview" />
            </div>
            <label for="Ingredients">Ingredients</label>
            <textarea class="form-control" name="Ingredients" id="ingredients"></textarea>
            <label for="Method">Method</label>
            <textarea class="form-control" name="Method" id="method"></textarea>

            <input class="btn btn-primary" type="submit" />
        </div>
    </form>
</div>

<script>
    document.getElementById("imageUrlInputJs").onchange = function (e) {
        let imageUrl = e.target.value;
        document.getElementById("imgUrlPreview").src = imageUrl;
    }

    tinymce.init({
        selector: '#ingredients',
        plugins: "lists",
        toolbar: "numlist bullist"
    });
    tinymce.init({
        selector: '#method',
        plugins: "lists",
        toolbar: "numlist bullist"
    });
</script>

