@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Recipe Generator</h1>
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active fullWidthBackgroundImage" style="background-image:url('http://www.reciperoulette.tv/public/assets/images/food.jpg');">
                <div class="carousel-caption d-none d-md-block">
                    <h4>Search for recipes by ingredients!!</h4>
                </div>
            </div>
            <div class="carousel-item  fullWidthBackgroundImage" style="background-image:url('https://www.blueosa.com/wp-content/uploads/2020/01/the-best-top-10-indian-dishes.jpg');">
                <div class="carousel-caption d-none d-md-block">
                    <h4>Get random recipes by cuisines!!</h4>
                </div>
            </div>

            <div class="carousel-item fullWidthBackgroundImage" style="background-image:url('https://eatforum.org/content/uploads/2018/05/table_with_food_top_view_900x700.jpg');">
                <div class="carousel-caption d-none d-md-block">
                    <h4>Add your own recipie to the collection!!</h4>
                </div>
            </div>
            <div class="carousel-item fullWidthBackgroundImage" style="background-image:url('https://www.smartcitiesworld.net/AcuCustom/Sitename/DAM/020/Food_AdobeStock_189062803_1_Cropped_1_rm.jpg');">
                <div class="carousel-caption d-none d-md-block">
                    <h4>Pin favorite recipies to a collection!!</h4>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>



<div class="row mt-4 mt-mb-1">
    <div class="col-md-3">
        <div class="homeTiles" style="background-image:url(https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2017/08/saag-paneer.jpg?itok=0KuDNCqe)">
            <h3>Most Pinned</h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="homeTiles" style="background-image:url(https://www.kingarthurflour.com/sites/default/files/styles/featured_image/public/recipe_legacy/1344-3-large.jpg?itok=n_EPr6zZ)">
            <h3>Recently added</h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="homeTiles" style="background-image:url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/egg-bakes-1567138820.jpg?crop=0.670xw:1.00xh;0,0&resize=640:*)">
            <h3>Cook Under 20 minutes</h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="homeTiles">
            <h3>Add Your Own Recipe</h3>
        </div>
    </div>
</div>
